<div class="card" style="width: 18rem;">

    <div class="card text-white bg-dark d-inline-block" style="max-width: 20rem;">
      <div class="card-header">Featured Item!</div>
      {% if item_instance.image %}
        <img class="card-img-top" src="{{ item_instance.image.url }}" alt="Card image cap">
        {% endif %}

      <div class="card-body">
        <h5 class="card-title">{{ item_instance.title }}</h5>
        <p class="card-text">{{ item_instance.description|linebreaks|truncatewords:18 }}</p>
        <a href="{{ item_instance.get_absolute_url }}" class="btn btn-primary" style="background-color:#19194d">View</a>
        <!--<a href="{% url 'wandsproducts:detail' slug=item_instance.slug %}" class="btn btn-primary">URL shortcut</a>-->
    </div>
  </div>
  </div>
</div>
